# Series

Series is a one dimensional array capable of holding a sequence of values of any data type which by default has numeric data lebels starting from zero. Labels can be integer or string. 

. To create series:
pd.Series(data,index,dtype,name)


Data = Data that we want to add in that series. This can be a list, array, scalar value or dictionary.

Index = If you do not pas the index argument, it will be by default assigned integer starting from zero. They must be hashable and of same length as data. They are used for mainly three purposes:

- Identification

- Selection

- Alignment

Dtype = This is optional argument. Can assign any valid data type to series object. If not passed it is inferred from data.

Name = This is also optional. When list is added to any Dataframe, this name will become column name in dataframe.It become attribute of series object.

In [1]:
import pandas as pd

### Creating series from Python List

In [2]:
list1 = ['a','b','c','w','r','t']
pd.Series(list1)

0    a
1    b
2    c
3    w
4    r
5    t
dtype: object

In [4]:
indics = [1,4,3,6,4,8]
s= pd.Series(data=list1,index=indics)
s

1    a
4    b
3    c
6    w
4    r
8    t
dtype: object

In [5]:
s[3]

'c'

In [6]:
s[1]

'a'

### Creating series form Numpy array

In [7]:
import numpy as np

In [8]:
a = pd.Series(data=np.arange(9))

In [9]:
a

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
dtype: int64

In [13]:
arr = np.array([2,5,2,7,9,5,3,6])
ab =pd.Series(arr)
ab

0    2
1    5
2    2
3    7
4    9
5    5
6    3
7    6
dtype: int64

#### Example
Create a NumPy array of 10 random integers between 1 and 100. Create a Pandas Series from this array, and set the index labels to ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']. Name the Series "random_integers".

In [17]:
arr =np.random.randint(low=1,high=101,size=10)
index = ['A','B','C','D','E','F','G','H','I','J']
b = pd.Series(data=arr,index=index,name="random_integer")
b

A    75
B    83
C     1
D     3
E     4
F    29
G    18
H    47
I     8
J    48
Name: random_integer, dtype: int64

Create a NumPy array of 5 random floats between 0 and 1. Create a Pandas Series from this array, and set the index labels to ['apple', 'banana', 'cherry', 'date', 'elderberry']. Name the Series "random_floats".

In [47]:
arr = np.linspace(start=0,stop=1,num=5)
inex= ['apple','banana','cherry','date','elderberry']
ser=pd.Series(data=arr,index=inex,name="random_floats",dtype=float)
ser

apple         0.00
banana        0.25
cherry        0.50
date          0.75
elderberry    1.00
Name: random_floats, dtype: float64

Create a Pandas Series from a NumPy array containing the Fibonacci sequence up to the 20th term. Name the Series "fibonacci" and set the index labels to the corresponding numbers in the sequence (e.g., the first element should have index label 0, the second should have index label 1, etc.).

In [29]:
# Create an array with the first two terms of the Fibonacci sequence
fib = np.array([0, 1])

# Use a loop to compute the remaining terms of the sequence and add them to the array
for i in range(2, 20):
    fib = np.append(fib, fib[i-1] + fib[i-2])


# Create a Pandas Series from the NumPy array and set the index labels
fibonacci = pd.Series(fib, index=range(20))

# Print the Series
print(fibonacci)

0        0
1        1
2        1
3        2
4        3
5        5
6        8
7       13
8       21
9       34
10      55
11      89
12     144
13     233
14     377
15     610
16     987
17    1597
18    2584
19    4181
dtype: int64

Create a NumPy array containing 100 random integers between 0 and 9. Create a Pandas Series from this array and group the values by their remainder when divided by 2 (i.e., group even values together and odd values together). Compute the mean of each group and create a new Series containing these means, with the group label (i.e., "even" or "odd") as the index label.

In [38]:
arr = np.random.randint(low=0,high=10,size=100)
s1 = pd.Series(arr)
# Group the values by their remainder when divided by 2
grouped = s1.groupby(lambda x: x % 2)
# Compute the mean of each group
means = grouped.mean().fillna(0)
# Create a new Series from the means, with the group label as the index label
result = pd.Series(means, index=['even', 'odd'])
# Print the result
print(result)

even   NaN
odd    NaN
dtype: float64

### Creating a Series from Python Dictionary

In [39]:
my_dict = {
    'name':"Joe", 
    'gender':"Male", 
    'Role':"Manager", 
    'subject':"Data Science"}
s = pd.Series(data=my_dict)

In [40]:
s

name                Joe
gender             Male
Role            Manager
subject    Data Science
dtype: object

Create a Pandas Series from a dictionary containing the names and ages of a group of people. Use the names as the index labels and the ages as the values.

In [41]:
people = {'John': 30, 'Alice': 25, 'Bob': 45, 'Jane': 20}

# Create a Pandas Series from the dictionary
age_series = pd.Series(people)
print(age_series)

John     30
Alice    25
Bob      45
Jane     20
dtype: int64

Create a Pandas Series from a dictionary containing the prices of different items in a store. Use the names of the items as the index labels and the prices as the values.

In [42]:
item ={'water':30,'candy':1,'coco':70}
s=pd.Series(item)
s

water    30
candy     1
coco     70
dtype: int64

### Creating a Series from Scalar value

In [43]:
s = pd.Series(data=25)
print(s)
print(type(s))

0    25
dtype: int64
<class 'pandas.core.series.Series'>

### Creating an Empty Series

In [44]:
s=pd.Series()
print(s)
print(type(s))

Series([], dtype: float64)
<class 'pandas.core.series.Series'>

/tmp/ipykernel_20631/3651937901.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s=pd.Series()

## Attributes of Panda Series

In [48]:
ser.name

'random_floats'

In [49]:
ser.index

Index(['apple', 'banana', 'cherry', 'date', 'elderberry'], dtype='object')

In [50]:
ser.values

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [53]:
ser.dtype

dtype('float64')

In [55]:
ser.ndim

1

In [56]:
ser.shape

(5,)

In [59]:
ser.size

5

In [60]:
ser.nbytes

40

In [61]:
ser.hasnans

False

## Understanding Index in a Series

 When index is unique, Pandas use a hashtable to map key to value and searching can be done in O(1) time. - When index is non-unique but sorted, Pandas use binary search, which takes logarithmic time O(logN). - When index is randomly ordered, searching takes linear time, as Pandas need to check all the keys in the index O(N).

### Changing Index of a Series Object

In [62]:
list1 = ['Rauf', 'Arif', 'Maaz', 'Hadeed', 'Mujahid']
s = pd.Series(data=list1)
print(s)
print(s.index)

0       Rauf
1       Arif
2       Maaz
3     Hadeed
4    Mujahid
dtype: object
RangeIndex(start=0, stop=5, step=1)

In [63]:
arr1 = np.random.randint(low = 100, high = 200, size = 5)

s.index = arr1

print(s)
print(s.index)

117       Rauf
109       Arif
199       Maaz
132     Hadeed
159    Mujahid
dtype: object
Int64Index([117, 109, 199, 132, 159], dtype='int64')

### Changing index of a series to a list of strings

In [66]:
list2 = [1,45,6,3,6]
x = pd.Series(data=list1,index=list2)
x

1        Rauf
45       Arif
6        Maaz
3      Hadeed
6     Mujahid
dtype: object

##  First use of Index (Identification)

-> Since every data value of a series object has an associated index (integer or string). So we can use this index/label to identify or access data value(s)

There are three ways to access elements of a series:

- Using s[ ] operator and specifying the index (integer/label)
- Using s.loc[ ] method and specifying the index (integer/label)
- Using .iloc[ ] method and specify the position (an integer value from 0 to length-1). It also support negative indexing, the last element can be accessed by an index of -1

In [67]:
x

1        Rauf
45       Arif
6        Maaz
3      Hadeed
6     Mujahid
dtype: object

In [68]:
x[45]

'Arif'

In [69]:
x[1]
# Subscript operator do not work on position

'Rauf'

In [70]:
x.loc[6]
# loc method do not work on position
#x.loc[0] # will raise an error because index 0 do not exist

6       Maaz
6    Mujahid
dtype: object

In [71]:
# The iloc method is passed position and not index
x.iloc[3]

'Hadeed'

In [73]:
x.iloc[1]

'Arif'

#### Fancy Indexing

In [75]:
# Can access multiple values by specifying a list of indices
x[[45, 1]]

45    Arif
1     Rauf
dtype: object

In [76]:
# Can access multiple values by specifying a list of indices
x.loc[[1, 45]]

1     Rauf
45    Arif
dtype: object

In [77]:
# Can access multiple values by specifying list of positions
x.iloc[[3, 0]]

3    Hadeed
1      Rauf
dtype: object

In [78]:
x.iloc[-1]

'Mujahid'

In [79]:
list1 = ['Rauf', 'Arif', 'Maaz', 'Hadeed', 'Mujahid']
indices = ['num1', 'num2', 'num3', 'num4', 'num5']
s = pd.Series(data=list1, index=indices)
s

num1       Rauf
num2       Arif
num3       Maaz
num4     Hadeed
num5    Mujahid
dtype: object

In [80]:
s['num4']

'Hadeed'

In [82]:
s[3]

'Hadeed'

In [83]:
s.loc['num2']

'Arif'

In [86]:
#s.loc[2]
#Does not work on positional index

In [88]:
#s.iloc['num1']
# Will not work for literal index
s.iloc[3]

'Hadeed'

In [89]:
s.iloc[-1]

'Mujahid'

## Second use of Index (Selection)

A series can be sliced using : symbol, which returns a subset of a series object (values with corresponding indices).

There are three arguments of slice object [[start]:[stop][:step]], and all are optional

The slice object can be used in three ways to slice a Pandas Series object:

- Using s[ ] operator and specifying the index (integer/label)
- Using s.loc[ ] method and specifying the index (integer/label)
- Using .iloc method and specify the position (an integer value from 0 to length-1). It also support negative indexing, the last element can be accessed by an index of -1

Keep following points in mind:

- The stop argument is NOT inclusive for s[] for integer indices, while it is inclusive for string indices.
- The stop argument is inclusive for s.loc[] for both integer and label indices.
- The stop argument is NOT inclusive for s.iloc[] being position based.
>Note: Once you slice a Pandas series, you get a view of the original object, which is similar to shallow copy. So if you modify an element in original series object, the change will also be visible in the other series object.

Selection/Filtering/Subsetting of Series object having Integer indices

In [91]:
list1 = ['Rauf', 'Arif', 'Maaz', 'Hadeed', 'Mujahid','kakamana','Hanzala']
indices = [5, 10, 15, 20, 25,32,56]
s = pd.Series(data=list1, index=indices)
s

5         Rauf
10        Arif
15        Maaz
20      Hadeed
25     Mujahid
32    kakamana
56     Hanzala
dtype: object

In [95]:
s[5:25]

32    kakamana
56     Hanzala
dtype: object

In [98]:
# The subscript operator considers the slice object as positional index and not as the actual indices 
# (if we have integer indices)
# The `stop` argument is NOT inclusive for `s[]` for integer indices
print(s[1:4])
s[15:25]

10      Arif
15      Maaz
20    Hadeed
dtype: object

Series([], dtype: object)

In [99]:
#The loc[] method considers the slice object as actual indices and not as positional indices
# The stop argument is inclusive for `s.loc[]` for both integer and label indices
s.loc[5:15]

5     Rauf
10    Arif
15    Maaz
dtype: object

In [100]:
# The iloc[] method considers the slice object as positional index and not as the actual indices
# The `stop` argument is NOT inclusive for `s.iloc[]` being position based
s.iloc[1:4]

10      Arif
15      Maaz
20    Hadeed
dtype: object

In [101]:
list1 = ['Rauf', 'Arif', 'Maaz', 'Hadeed', 'Mujahid','Umar','Mirsab','Taha','Hanzala']
indices = ['num1', 'num2', 'num3', 'num4', 'num5','num6','num7','num8','num9']
s = pd.Series(data=list1, index=indices)
s

num1       Rauf
num2       Arif
num3       Maaz
num4     Hadeed
num5    Mujahid
num6       Umar
num7     Mirsab
num8       Taha
num9    Hanzala
dtype: object

In [102]:
s['num2':'num9']

num2       Arif
num3       Maaz
num4     Hadeed
num5    Mujahid
num6       Umar
num7     Mirsab
num8       Taha
num9    Hanzala
dtype: object

In [103]:
s['num2':'num9':2]

num2      Arif
num4    Hadeed
num6      Umar
num8      Taha
dtype: object

In [104]:
s[2:5]

num3       Maaz
num4     Hadeed
num5    Mujahid
dtype: object

In [105]:
s.loc['num3':'num9']

num3       Maaz
num4     Hadeed
num5    Mujahid
num6       Umar
num7     Mirsab
num8       Taha
num9    Hanzala
dtype: object

In [106]:
s.loc['num1':'num6':3]

num1      Rauf
num4    Hadeed
dtype: object

In [108]:
s.iloc[1:5:2]

num2      Arif
num4    Hadeed
dtype: object

## Third use of Index (Alignment)

In [113]:
list1 = [1,3,5,7,9];
list2 = [2,4,6,8,10];
s1 = pd.Series(data=list1)
s2 = pd.Series(data=list2)

In [114]:
s3=s1+s2

In [115]:
s3

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [116]:
list1 = [6,9,7,5]
index1 = [0,1,2,3]
list2 = [8,6,2,1]
index2 = [0,2,3,5]
s1 = pd.Series(data=list1, index=index1)
s2 = pd.Series(data=list2, index=index2)

In [117]:
s1

0    6
1    9
2    7
3    5
dtype: int64

In [118]:
s2

0    8
2    6
3    2
5    1
dtype: int64

In [119]:
s3=s1+s2

In [120]:
s3

0    14.0
1     NaN
2    13.0
3     7.0
5     NaN
dtype: float64

In [121]:
#Problem: While performing mathematical operations on series having mismatched indices, all missing values are filled in with NaN by default.

In [123]:
s1.add(s2,fill_value=0)

0    14.0
1     9.0
2    13.0
3     7.0
5     1.0
dtype: float64

### Boolean/ Fancy indexing

In [124]:
# Create a Pandas Series
my_series = pd.Series([10, 20, 30, 40, 50])

# Use boolean indexing to select values from the Series
selected_values = my_series[my_series > 30]

# Print the selected values
print(selected_values)

3    40
4    50
dtype: int64

Create a Pandas Series of the first 20 positive integers. Use fancy indexing to select every third integer from the Series.

In [127]:
s=pd.Series(data=np.arange(0,21))
s[::3]

0      0
3      3
6      6
9      9
12    12
15    15
18    18
dtype: int64

Create a Pandas Series containing the heights (in inches) of a group of people. Use fancy indexing to select the heights of the people who are taller than 6 feet.

In [130]:
s=pd.Series(data=[3,2,5,76,45,23,64,23,98,65,32,15,23])
s[s>15]

3     76
4     45
5     23
6     64
7     23
8     98
9     65
10    32
12    23
dtype: int64

Create a Pandas Series containing the sales figures for a company's products. Use fancy indexing to select the sales figures for the products with the top 5 sales numbers.

In [133]:
s=pd.Series(data=[65,34,26,98,68,50,46,29,26,64,89,65,64,60,24,30])
s.nlargest(5)

3     98
10    89
4     68
0     65
11    65
dtype: int64

Create a Pandas Series containing the grades of a group of students. Use fancy indexing to select the grades of the students who scored higher than 90%.

In [132]:
s=pd.Series(data=[45,48,70,60,0,89,95,70,95,91,25])
s[s>90]

6    95
8    95
9    91
dtype: int64

In [134]:
s.reset_index()

    index   0
0       0  65
1       1  34
2       2  26
3       3  98
4       4  68
5       5  50
6       6  46
7       7  29
8       8  26
9       9  64
10     10  89
11     11  65
12     12  64
13     13  60
14     14  24
15     15  30

In [141]:
#s.pop(index) is passed an index and it returns the data item at the index and removes it from series
s.pop(4)

68

In [137]:
s

1     34
2     26
3     98
4     68
5     50
6     46
7     29
8     26
9     64
10    89
11    65
12    64
13    60
14    24
15    30
dtype: int64

In [142]:
#s.drop(indexes) is passed one or a list of indices and returns a series of the data items. Series remains unchanged unless the inplace = True argument is passed
s.drop(2)

1     34
3     98
5     50
6     46
7     29
8     26
9     64
10    89
11    65
12    64
13    60
14    24
15    30
dtype: int64

In [143]:
#s1.append(s2, ignore_index=False, verify_integrity=False) is used to concatenate two series and return the concatenated series, original series remain unchanged
s1.append(s2)

/tmp/ipykernel_20631/2569308658.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s1.append(s2)

0    6
1    9
2    7
3    5
0    8
2    6
3    2
5    1
dtype: int64

## Pandas Series vs NumPy 1-D Arrays
- In a series object we can define our own labeled index to access elements of an array. These can be numbers or strings. NumPy arrays are accessed by their integer position using numbers only.
- In a series object the elements can be indexed in descending order also. In NumPy arrays, the indexing starts  with zero for the first element and the index is fixed.
- While performing arithmetic operations on series having misaligned indices, NaN or missing values may be generated. In NumPy arrays, the concept of broadcasting exist and there is no concept of NaN values. While performing arithmetic on incompatible numPy arrays the operation fails.
- Series require more memory. NumPy arrays occupies lesser memory.